on boot
    setprop ARGH ARGH
    setprop net.eth0.dns1 10.0.2.3
    setprop net.gprs.local-ip 10.0.2.15
    setprop ro.radio.use-ppp no
    setprop ro.build.product generic
    setprop ro.product.device generic

    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    stop dund
    stop akmd

    setprop ro.setupwizard.mode EMULATOR

    setprop ro.com.google.locationfeatures 1

service goldfish-setup /system/etc/init.goldfish.sh
    oneshot

service qemud /system/bin/qemud
    socket qemud    stream 666
    oneshot

service goldfish-logcat /system/bin/logcat -Q
    oneshot

setprop service.iq.active 0
pm disable android/com.carrieriq.iqagent.service.IQService
pm disable android/com.carrieriq.iqagent.service.receivers.BootCompletedReceiver
pm disable android/com.carrieriq.iqagent.service.ui.DebugSettings
pm disable android/com.carrieriq.iqagent.service.ui.ShowMessage
pm disable android/com.carrieriq.iqagent.client.NativeClient
pm disable android/com.carrieriq.iqagent.stdmetrics.survey.android.QuestionnaireLaunchActivity
pm disable android/com.carrieriq.iqagent.stdmetrics.survey.android.QuestionnaireActivity