service mtp /system/bin/lg_mtp_service
  disabled
on device-added-/devices/platform/musb_hdrc/gadget/mtp
  start mtp
on device-removed-/devices/platform/musb_hdrc/gadget/mtp
  stop mtp

on device-added-/devices/platform/musb_hdrc/gadget/communications
  write /proc/driver/hmuic "9"

on device-removed-/devices/platform/musb_hdrc/gadget/communications
  write /proc/driver/hmuic "8"

on device-added-/devices/virtual/misc/android_adb
   stop adbd
   start adbd

on device-removed-/devices/virtual/misc/android_adb
   stop adbd
